// This file is automatically prepended to each scss module,
// this way you can always use the variables in any file


// Colors
$color-primary: #0070f3;
$black: black;
$white: white;

// Font sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;

// Columns
$col-xxs: 240px;
$col-xs: 320px;
$col-s: 460px;
$col-m: 640px;
$col-l: 800px;
$col-xl: 980px;
$col-max: 1200px;
