.video {
  &__canvas {
    position: absolute;
    width: 80px;
    height: 80px;
    // z-index: 999;
    bottom: 0.6em;
    border-radius: 999px;
    z-index: 1;
  }

  &__mini {
    position: absolute;
    width: 100px;
    height: 75px;
    z-index: 999;
    bottom: 1em;
    left: 160px;
    display: none;
  }

  &__big {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
